<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace是命名空间，本文件中所命名的语句只在本空间中有效，可以解决映射文件中同名语句的冲突，可以与接口的全限定名做关联，从而实现mapper代理的功能-->

<mapper namespace="com.zhong.mapper.CategoryMapper">
    <select id="findAllCategory" resultType="Category">
        select * from tb_category
    </select>

    <insert id="addCategory" parameterType="Category">
        insert into tb_category(name,description,createTime) values (#{name},#{description},now())
    </insert>
    <select id="getCategoryByName" parameterType="String" resultType="int">
        select count(*) from tb_category where `name` =  #{name}
    </select>



    <select id="findCategory" resultType="Category">
        select * from tb_category
    </select>

    <delete id="deleteCategoryById" parameterType="String">
        delete
        from tb_category
        where id = #{id}
    </delete>

    <select id="findOneCategory" parameterType="String" resultType="com.zhong.po.Category">
        select * from tb_category where id = #{id}
    </select>

    <update id="updateCategory" parameterType="Category">
            UPDATE tb_category
            SET name = #{name}, description = #{description} ,createTime = now()
            where id = #{id}
    </update>


</mapper>