<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace是命名空间，本文件中所命名的语句只在本空间中有效，可以解决映射文件中同名语句的冲突，可以与接口的全限定名做关联，从而实现mapper代理的功能-->

<mapper namespace="com.zhong.mapper.MedicineMapper">
    <insert id="addMedicine" parameterType="Medicine">
        insert into tb_medicine(medno, name, factoryadd, description, price, medcount, photopath, categoryid)
        values (#{medNo}, #{name}, #{factoryAdd}, #{description}, #{price}, #{medCount}, #{photoPath}, #{categoryId});

    </insert>

    <sql id="findMedicine">
        <where>
            <if test="keyWord != null">
            name like '%${keyWord}%' or factoryAdd like '%${keyWord}%'
            </if>
        </where>
    </sql>

    <select id="findMedicines" parameterType="String" resultType="Medicine">
        select *
        from tb_medicine
        <include refid="findMedicine"/>
    </select>

    <select id="getMedicineByMedNo" parameterType="String" resultType="Integer">
        select count(*)
        from tb_medicine
        where medNo = #{medNo}
    </select>

    <select id="findOneMedicine" parameterType="String" resultType="Medicine">
        select m.id,m.medNo,m.`name`,m.medCount,s.sellCount demand,m.photoPath,m.price,c.`name` categoryName,m.factoryAdd,m.description from tb_medicine m left join tb_category c on (m.categoryId=c.id) left join tb_selldetail s on (m.id=s.medid) where s.id = #{id}
    </select>

    <update id="updateMedicine" parameterType="Medicine">
        update tb_medicine
        set price=#{price},
            medCount=#{medCount},
            factoryAdd=#{factoryAdd},
            description=#{description}
        where id = #{id}
    </update>

    <select id="findMedByMore" parameterType="Medicine" resultType="Medicine">
        select * from tb_medicine
        <where>
            <if test="medNo != null and medNo != '' ">
                and medNo like '%${medNo}%'
            </if>
            <if test="name !=null and name != ''">
                and `name` like '%${name}%'
            </if>
            <if test="factoryAdd != null and factoryAdd != ''">
                and factoryAdd like '%${factoryAdd}%'
            </if>
            <if test="description != null and description != ''">
                and description like '%${description}%'
            </if>
        </where>
    </select>

    <delete id="deleteMedicineById" parameterType="String">
        delete
        from tb_medicine
        where id = #{id}
    </delete>



    <select id="findMedInventory" parameterType="int" resultType="Medicine">
        SELECT * FROM tb_medicine
        <where>
            <if test='type == "0"'>
                and  medCount = #{medCount}
            </if>
            <if test='type == "1"'>
                and medCount > #{medCount}
            </if>
            <if test='type == "-1"'>
                and medCount &lt; #{medCount}
            </if>
        </where>
    </select>


</mapper>